Links

* Eclipse

  * {{{http://www.eclipse.org/} Eclipse }} start site  
   
  []
  
* Maven

  * {{{http://maven.apache.org/} Maven }} start site
    
  * Maven {{{http://m2eclipse.sonatype.org/} Eclipse plugin}}
  
  [] 
  
* Groovy

  * {{{http://groovy.codehaus.org/} Groovy }} start site 
  
  * Groovy {{{http://groovy.codehaus.org/Eclipse+Plugin} Eclipse plugin}}
   
  []
   